body{
  overflow-x: hidden;
}

.div-1{
    background-image: url(/img/blackgirl1.jpg);
     opacity: 0.8;
    background-size: cover;
    min-height: 50vh;
}


.div-3{
    background-image: url(/img/rock-theme.jpg);
     opacity: 0.8;
    background-size: cover;
    min-height: 50vh;
}


.div-4{
    background-image: url(/img/home-page.jpg);
     opacity: 0.8;
    background-size: cover;
    min-height: 50vh;
}

.div-2{
    background-image: url(/img/carousel4.jpg);
    opacity: 0.9;
    background-size: cover;
    min-height: 50vh;
}

.shop-btn{
    background-color: rgb(220, 144, 108);
}

/* for demo purposes */
.card {
    margin: 10px 10px;
    border: none;

  }
  
  /* Flip Cards CSS */
  .card-container {
    display: grid;
    perspective: 700px;
  }
  
  .card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 0.7s ease;
  }
  
  hr{
      border: 0.5px solid black;
  }
  .card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }
  
  .front {
    grid-area: frontAndBack;
  }
  
  .back {
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
  }
  
  .card-container:hover .card-flip {
    transform: rotateY(180deg);
  }

  .form-control{
      border: none;
     outline: none;
     border-bottom: 1px solid black;
     border-radius: none;
  }